<div class="container">

  <div class="container">
    <h2>Diagnosed Condition</h2>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Description</th>

      </tr>
      </thead>
      <tbody>
    
      <tr>
        <td><%= @diagnosed_condition.condition_name%></td>


      </tr>
    


      </tbody>
    </table>
  </div>


  <div class="col-sm-2">

    <%= link_to("Back", patient_diagnosed_conditions_path, class: "btn btn-success ") %>

  </div>


  <div class="col-sm-2">

    <%= link_to("Edit", edit_patient_diagnosed_condition_path(@diagnosed_condition), class: "btn btn-warning ") %>

  </div>
</div>