<div class="container">

  <div class="container">
    <h2>Diagnosed Condition</h2>
    <p>The .table-striped class adds zebra-stripes to a table:</p>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Description</th>

      </tr>
      </thead>
      <tbody>
    
      <tr>
        <td><%= @diagnosed_condition.condition_name%></td>


      </tr>
    


      </tbody>
    </table>
  </div>





  <div class="col-sm-6">

    <%= link_to("Back to home page", patient_home_path, class: "btn btn-block btn-warning ") %>

  </div>
</div>