<div class="container">

 <div class="row">
    <h3>Surgery and Hospitolization Information</h3>
   <div class="col-sm-8 col-md-8 col-md-offset-2">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>symptom description</th>

      </tr>
      </thead>
      <tbody>

      <tr >

        <td><%=@profile_symptom.symptom_description%></td>


      </tr>



      </tbody>
    </table>

</div>




  <div class="col-sm-6">

    <%= link_to 'Cancel', patient_profile_symptoms_path ,class: "btn  btn-warning "%>
  </div>
   <div class="col-sm-6">

    <%= link_to("Edit", edit_patient_profile_symptom_path(@profile_symptom), class: "btn  btn-primary ") %>

  </div>
 </div>
</div>
