<div class="container">

  <div class="container">
    <h2>Surgery and Hospitolization Information</h2>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Year</th>
        <th>Description</th>

      </tr>
      </thead>
      <tbody>
      <% @profile_procedures_hospitolizations.each do |i| %>
          <tr>
            <td><%= i.procedure_date%></td>
            <td><%= i.procedure_name%></td>


          </tr>
      <%end%>


      </tbody>
    </table>
  </div>





  <div class="col-sm-6">

    <%= link_to("Back to home page", patient_home_path(@patient), class: "btn btn-block btn-warning ") %>

  </div>
</div>