

<div class="container">
 <div class="welcome_background">
  <h2>Welcome! </h2>


  <div class="row">

    <div class="col-sm-6 col-md-6 col-lg-6">


          <h4>Sign in as a patient</h4>
          <img class="img-circle" src="images/2.png" alt="Patient" width="280" height="280" >





        <div class="row">
          <div class="col-xs-6">
            <%= link_to("Sign In", new_user_session_path, class: "btn btn-block btn-primary ") %>
          </div>
          <div class="col-xs-6">
            <%= link_to("Sign Up", new_user_registration_path, class: "btn btn-block btn-danger ") %>
          </div>

        </div>

    </div>



    <div class="col-sm-6 col-md-6 col-lg-6">


      <h4>Sign in as a provider</h4>
      <img class="img-circle" src="images/1.png" alt="Provider" width="280" height="280" >





      <div class="row">
        <div class="col-xs-6">
          <%= link_to("Sign In", new_user_session_path, class: "btn btn-block btn-warning ") %>
        </div>
        <div class="col-xs-6">
          <%= link_to("Sign Up", new_user_registration_path, class: "btn btn-block btn-success ") %>
        </div>

      </div>

    </div>



  </div>

 </div>

  </div>





