<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Us</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <h3>Who we are</h3>
        <br/>
        <p>EagleForce Associates, Inc. is an advanced technology development and consulting firm focused on leading and supporting clients with their most difficult challenges.

       </p>
        <br/>

        <h3>Our Goal</h3>
        <br/>
        <p>Our goal is simple: to assist the client in achieving strategic, quality, customized or COTS, cost-effective results to extremely difficult problems.</p>



       <br/>

        <h3>Our Mission</h3>
        <br/>
        <p>Our mission is to assist our clients in the design and deployment of intelligent systems, "Where man and machine interface and applications are designed to optimize the performance of each by providing the heavy lifting for many of the most difficult problems in computer science."</p>



      </div>

      <div class="col-lg-8 col-lg-offset-2 text-center">

        <%link_to "Back to Home Page", patient_home_path(@patient), class:"btn btn-success" %>
      </div>
    </div>
  </div>
</section>

