<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Portfolio</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="images/portfolio/cabin.png" class="img-responsive" alt="">
          <p>My doctor</p>
        </a>

      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>

            </div>
          </div>
          <img src="images/portfolio/cake.png" class="img-responsive" alt="">
          <p>My medication</p>
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="images/portfolio/circus.png" class="img-responsive" alt="">
          <p>My profile</p>
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="images/portfolio/game.png" class="img-responsive" alt="">
          <p>My immunization</p>
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="images/portfolio/safe.png" class="img-responsive" alt="">
          <p>My care community</p>
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="images/portfolio/submarine.png" class="img-responsive" alt="">
          <p>My clinical assessment</p>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">

  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 clo-md-*">
          <div class="modal-body">
            <h2>My Doctors</h2>
            <hr class="star-primary">
            <img src="images/portfolio/cabin.png" class="img-responsive img-centered" alt="">
            <p>Use this function to introduce how to give access to your doctors <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Lead to my doctors</a>. </p>

            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>My medication</h2>
            <hr class="star-primary">
            <img src="images/portfolio/cake.png" class="img-responsive img-centered" alt="">
            <p>Use this area of the page to describe functionality of medication <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. </p>

            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>My profile</h2>
            <hr class="star-primary">
            <img src="images/portfolio/circus.png" class="img-responsive img-centered" alt="">
            <p> Describe about medication <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. </p>

            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>My immunization</h2>
            <hr class="star-primary">
            <img src="images/portfolio/game.png" class="img-responsive img-centered" alt="">
            <p>Use this area of the page to describe immunization project. </p>

            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>My care community</h2>
            <hr class="star-primary">
            <img src="images/portfolio/safe.png" class="img-responsive img-centered" alt="">
            <p>Use this area of the page to describe </p>
            <ul class="list-inline item-details">
              <li>1
                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                </strong>
              </li>
              <li>2
                <strong><a href="http://startbootstrap.com">April 2014</a>
                </strong>
              </li>
              <li>3
                <strong><a href="http://startbootstrap.com">Web Development</a>
                </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>My Clinical Assessment</h2>
            <hr class="star-primary">
            <img src="images/portfolio/submarine.png" class="img-responsive img-centered" alt="">
            <p>Introduce this module</p>
            <ul class="list-inline item-details">
              <li>1:
                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                </strong>
              </li>
              <li>2:
                <strong><a href="http://startbootstrap.com">April 2014</a>
                </strong>
              </li>
              <li>3:
                <strong><a href="http://startbootstrap.com">Web Development</a>
                </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
