<div class="container-fluid">


  <div class="row">


        
        
        
          
        
   <form role="form">


    <!-- first row-->
     <div class="row">
       <div class="col-xs-12 col-sm-6 col-md-6 ">
         <div class="form-group">
           <label for="1">Please input your medication type:</label>
           <input type="text" class="form-control" id="1">

         </div>
       </div>


       <div class="col-xs-12 col-sm-6 col-md-6 ">
         <div class="form-group">
           <label for="2">Please input your administrator's name:</label>
           <input type="text" class="form-control" id="2">

         </div>
       </div>

     </div>


     <!-- second row-->
     <div class="row">
       <div class="col-xs-12 col-sm-6 col-md-6 ">
         <div class="form-group">
           <label for="1">Please input your medication type:</label>
           <input type="text" class="form-control" id="1">

         </div>
       </div>


       <div class="col-xs-12 col-sm-6 col-md-6 ">
         <div class="form-group">
           <label for="2">Please input your administrator's name:</label>
           <input type="text" class="form-control" id="2">

         </div>
       </div>

     </div>


     <!-- third row-->
     <div class="row">
       <div class="col-xs-12 col-sm-6 col-md-6 ">
         <div class="form-group">
           <label for="1">Please input your medication type:</label>
           <input type="text" class="form-control" id="1">

         </div>
       </div>


       <div class="col-xs-12 col-sm-6 col-md-6 ">
         <div class="form-group">
           <label for="2">Please input your administrator's name:</label>
           <input type="text" class="form-control" id="2">

         </div>
       </div>

     </div>


     <!-- fourth row-->
     <div class="row">
       <div class="col-xs-12 col-sm-6 col-md-6 ">
         <div class="form-group">
           <label for="1">Please input your medication type:</label>
           <input type="text" class="form-control" id="1">

         </div>
       </div>


       <div class="col-xs-12 col-sm-6 col-md-6 ">
         <div class="form-group">
           <label for="2">Please input your administrator's name:</label>
           <input type="text" class="form-control" id="2">

         </div>
       </div>

     </div>



        


  
  <div class="col-sm-6">
    <%= link_to("Submit", medications_path, class: "btn btn-block btn-info ") %>
    
  </div>
  <div class="col-sm-6">
    <%= link_to("Cancel", medications_path, class: "btn btn-block btn-warning ") %>
    
  </div>
  

</form>

 </div>
 <div class="container">

