<div class="container-fluid">
  <form role="form">
  
  <div class="row">
    <div class="col-sm-6">
      <form class="form" role="form">
        
        
        
          
        
        
        
  <div class="form-group">
    <div class="col-xs-6">
    <label for="1">Please input your immunization type:</label>
    <input type="text" class="form-control" id="1">
  </div>
  <div class="form-group">
    <div class="col-xs-6">
    <label for="">Please input your administrator's name:</label>
    <input type="text" class="form-control" id="">
  </div>
  <div class="form-group">
    <div class="col-xs-6">
    <label for="">Please input your ndc number:</label>
    <input type="text" class="form-control" id="">
  </div>
  <div class="form-group">
    <div class="col-xs-6">
    <label for="">Please input your cpt number:</label>
    <input type="text" class="form-control" id="">
  </div>
  <div class="form-group">
    <div class="col-xs-6">
    <label for="">Please input your cvx number:</label>
    <input type="text" class="form-control" id="">
  </div>
  <div class="form-group">
    <div class="col-xs-6">
    <label for="">Please input your hcpc number:</label>
    <input type="text" class="form-control" id="">
  </div>
  
  
  <div class="col-sm-6">
  <div class="form-group">
    <label for="">Please input your administrated time:</label>
    <input type="datetime" class="form-control" id="">
  </div>
  </div>
  
  <div class="col-sm-6">
  <div class="form-group">
    <label for="">Please input your reimmuniztion due time:</label>
    <input type="datetime" class="form-control" id="">
  </div>
  </div>
  
  
  
  <div class="col-sm-2">
    <%= link_to("Submit", immunizations_path, class: "btn btn-block btn-info ") %>
    
  </div>
  <div class="col-sm-2">
    <%= link_to("Cancel", immunizations_path, class: "btn btn-block btn-warning ") %>
    
  </div>
  
</form>
    </div>
    
    
    
  </div>
  
  </form>
 </div>
  <div class="container">
 </div>

