<div class="row">
	<div class="col-md-12 column">
		<div class="box box-warning box-solid">
			<div class="box-header with-border">
				<h3 class="box-title">Patient Immunization--New</h3>
				<div class="box-tools pull-right">
					<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
				</div><!-- /.box-tools -->
			</div><!-- /.box-header -->
        
			<div class="box-body">
			<div class="row">

                <% if @immunization.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@aimmunization.errors.count, "error") %> prohibited
      this immunization record from being saved:</h2>
    <ul>
    <% @immunization.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>


				<%= render("form")%>

				
			</div>
			</div><!-- /.box-body -->
		</div><!-- /.box -->
	</div>
</div>
