<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form role="form">
        <h2>Edit your immunization record</h2>

        <h3 class="text-center text-info"> basic infromation</h3>
        <hr class="colorgraph">

        <%= render 'form' %>



      </form>
    </div>
  </div>
</div>





